<p>
  scoreboard works!
</p>
<div><h3>List of Filers</h3></div><br/>
<table class="table-responsive table-striped table-bordered">
<thead>
  <th>Filer Name</th>
  <th>City</th>
  <th>State</th>
  <th>Market Value </th>
  <th>Shares Held</th>
  <th>Ranking</th>
  <th>Largest Holding</th>
</thead>
<tbody>
  <tr *ngFor="let filer of score | paginate: {itemsPerPage: 5, currentPage:page, id: '1'};let i=index">
    <a (click)="loadInvestor(score.Filer_Name)">
     <!-- <td ><a (click)="loadCompany(buy.Filer_Name)">{{filer.Filer_Name}}</a></td>
      <td>{{filer.City}}</td>
      <td>{{filer.State}}</td>
      <td>{{filer.Market_Value}}</td>
      <td>{{filer.Shares_Held}}</td>-->
      <td>{{i+1}}</td> 
     <!-- <td>{{filer.Largest_holding}}</td> -->
    </a>
  </tr>
  
  </tbody>
</table>
<pagination-controls (pageChange)="page = $event" id="1"
                      maxSize="5"
                      directionLinks="true"
                      autoHide="true">
                </pagination-controls>